<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitBucketBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitBucketBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BitBucketBrowser.Properties.Settings>
            <setting name="credentials" serializeAs="String">
                <value />
            </setting>
            <setting name="baseAPI" serializeAs="String">
                <value>rest/api/1.0/projects</value>
            </setting>
        </BitBucketBrowser.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BitBucketBrowser.Properties.Settings>
            <setting name="baseURL" serializeAs="String">
                <value>bitbucket_url</value>
            </setting>
        </BitBucketBrowser.Properties.Settings>
    </applicationSettings>
</configuration>